In [2]:
import pandas as pd

### Чтение из csv

In [3]:
df = pd.read_csv('./datasets/titanic.csv') #загрузка данных из csv в DF

In [ ]:
type(df)

In [ ]:
df

In [ ]:
df2 = pd.DataFrame.from_dict({'a':[1,2], 'b':[3,4], 'c':[5,6]})
df2 #создали DF из словаря

In [ ]:
df.to_csv('tmp.csv') #перезапись нашего DF  вновый файл

<h1>Функции:</h1>

### df.info()

– показывает «паспорт» датафрейма:
* количество строк и столбцов;
* имена столбцов и их типы данных;
* сколько **ненулевых** значений в каждом столбце;
* сколько памяти занимает DataFrame.

In [ ]:
df.info()

### df.shape

* размерность датафрейма

In [ ]:
df.shape

### df.columns
* показывает какие колонки имеются в df

In [ ]:
df.columns

### df.head() / df.tail()
* показ начала или конца дата фрейма

In [ ]:
df.head(3)
df.tail(3)

### df.dtypes
* возвращает все типы данных в df

In [ ]:
df.dtypes

### df['...']
* обращение к слобцу
* тип такого значения будет Series
* получается как массив с индексами
* можно передавать несколько стоблцов в списке - мини df

In [ ]:
df["Name"]

In [ ]:
df[['Name','Age','Sex']].head(3)

### df.loc[rows_selector, cols_selector]

Метод `df.loc[...]` позволяет выбирать **строки по меткам индексов или по булевой маске**, а также **конкретные столбцы по именам**.

**rows_selector** может быть:
1. списком индексов, например: `[1, 5, 10]`
2. срезом по индексу: `5:10`
3. булевой маской той же длины, например: `df["Age"].isna()`

**cols_selector** может быть:
1. одним именем столбца: `"Name"`
2. списком столбцов: `["Name", "Age"]`
3. срезом по именам столбцов

Пример:
`df.loc[df["Age"].isna(), "Name"]` — выбрать имена всех строк, где значение `Age` отсутствует.

In [ ]:
df.loc[[1,29,69],['Name','Age','Sex']]
df.loc[:, ["Name", "Cabin"]]   # все строки, только эти столбцы
df.loc[[1, 5, 10], :]          # эти строки, все столбцы

### df.iloc[[...], [...]]
* выборка данных конкретным столбцам(передаем как индекс этой колонки) + индексы строк
* так же работает со срезами

In [ ]:
df.iloc[[1,4,700], [0,5]]

In [ ]:
df.iloc[5:8, :3]

### фильтрация через маску
* можно передать в df[df['Age'] > 10]
* полученный Series df['age']>18 будет состоять из True False
* фильтровать можно по любому условию (/ - + * %)

In [ ]:
df[df['Age'] > 10]

In [ ]:
df[df["Age"].isin([5,10,15])]

### Фильтрация по нескольким условиям
* можно передавать несколько значений
* pandas поддерживает булевы операции которые реализованы через | &
* каждая клауза должна быть обернута в () а между ними условия or, and

In [ ]:
df[(df['Age'] % 5 ==0) | (df["Age"] == 12)]

### df[...].notna()
* возвращает df/series булевых значений показывающих наличие элемента в ячейке
* Проверка на Nan. не проверка на None
* Один из вариантов очистки данных о пропусков это передавать ее как условие фильтра

In [ ]:
df["Cabin"].notna()

#### даёт новый DataFrame, в котором:
	•	сохранены только строки, где значение в столбце Cabin НЕ является NaN,
	•	все строки, где Cabin = NaN (пусто, отсутствует) — удалены.

In [ ]:
df[df["Cabin"].notna()]

### df[...].isna()
* вернет наоборот notna()
* можно посчитать колличество пропусков в колонке age

In [ ]:
df["Age"].isna().sum()

In [ ]:
df.loc[df["Age"].isna(), "Name"] #вернет Series людей у который нет возраста

# Сортировка данных и Обьеденение df

### df.sort_values
* передаем два аргумента:
1. список или название сортируемых/мой колонки
2. списком или значением передаем флаги в каком порядке сортировать (True - по возрастанию)

In [4]:
df.sort_values(["Age", "Name"], ascending=[False, True]).head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
672,673,0,2,"Mitchell, Mr. Henry Michael",male,70.0,0,0,C.A. 24580,10.5000,NaN,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
280,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
456,457,0,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S